/*------------------- FONT-INCLUDE LINK START ---------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*------------------- FONT-INCLUDE LINK COMPLETED --------------------*/

/*------------------- PRE-DEFINED SECTION START --------------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	overflow-x: hidden;
}

body {
	font-family: "Poppins", sans-serif !important;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: .5rem;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

ol,
ul {
	margin-top: 0;
	margin-bottom: 1rem;
}

a {
	color: #007bff;
	text-decoration: none !important;
}

a:hover {
	color: inherit;
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

button {
	cursor: pointer;
}

button:focus {
	outline: none;
}

input[type=radio] {
	width: 5px;
	height: 5px;
	padding: 0.4rem;
	top: 3px;
	border: 2px solid #fff;
	outline: none;
	border-radius: 50%;
	appearance: none;
	cursor: pointer;
	transition: background-color 0.3s, box-shadow 0.3s;
	position: relative;
}

input[type=radio]::after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background: none;
}

input[type=radio]:checked {
	border-color: #fed580;
	box-shadow: 0 0 10px 4px #fed580;
}

input[type=radio]:checked::after {
	background: #fed580;
}

input[type=number]::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
	-webkit-appearance: none;
	-moz-appearance: textfield;
	margin: 0;
}

select {
	cursor: pointer;
}

input,
select,
textarea {
	width: 100%;
	padding: 0.7rem 1rem;
	border: none;
	background: #00000047;
	border-radius: 5px;
	color: #fff;
	font-weight: 300;
	font-size: 0.9rem !important;
}

input::placeholder,
textarea::placeholder {
	color: #e9e9e9;
}

input:focus,
select:focus,
textarea:focus {
	background: #0000005d;
	outline: 1px solid #00000077;
}

small {
	color: #ffe041;
	line-height: 1rem;
	font-weight: 300;
	margin: 0.1rem 0;
	display: none;
}

/*------------------- PRE-DEFINED SECTION COMPLETED --------------------*/


/*------------------- PRELOADER SECTION COMPLETED --------------------*/

#preloader {
	position: absolute;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	z-index: 100;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	opacity: 1;
	visibility: visible;
	transition: all 0.8s ease-in-out;
}

@keyframes clockwise {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes counter-clockwise {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(-360deg);
	}
}

.gearbox {
	background: #111;
	height: 100vh;
	width: 100%;
	position: relative;
	border: none;
	overflow: hidden;
	box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
}

.gearbox .overlay {
	border-radius: 6px;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	box-shadow: inset 0px 0px 20px black;
	transition: all 0.2s;
}

.gearbox .overlay {
	background: transparent;
}

.gear {
	position: absolute;
	height: 60px;
	width: 60px;
	box-shadow: 0px -1px 0px 0px #888888, 0px 1px 0px 0px black;
	border-radius: 30px;
}

.gear.large {
	height: 120px;
	width: 120px;
	border-radius: 60px;
}

.gear.large:after {
	height: 96px;
	width: 96px;
	border-radius: 48px;
	margin-left: -48px;
	margin-top: -48px;
}

.gear.one {
	top: 40%;
	left: 44%;
}

.gear.two {
	top: 48%;
	left: 48%;
}

.gear.three {
	top: 56%;
	left: 44%;
}

.gear.four {
	top: 31%;
	left: 51%;
}

.gear:after {
	content: "";
	position: absolute;
	height: 36px;
	width: 36px;
	border-radius: 36px;
	background: #111;
	top: 50%;
	left: 50%;
	margin-left: -18px;
	margin-top: -18px;
	z-index: 3;
	box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1), inset 0px 2px 0px 0px #090909, inset 0px -1px 0px 0px #888888;
}

.gear-inner {
	position: relative;
	height: 100%;
	width: 100%;
	background: #555;
	border-radius: 30px;
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.large .gear-inner {
	border-radius: 60px;
}

.gear.one .gear-inner {
	animation: counter-clockwise 3s infinite linear;
}

.gear.two .gear-inner {
	animation: clockwise 3s infinite linear;
}

.gear.three .gear-inner {
	animation: counter-clockwise 3s infinite linear;
}

.gear.four .gear-inner {
	animation: counter-clockwise 6s infinite linear;
}

.gear-inner .bar {
	background: #555;
	height: 16px;
	width: 76px;
	position: absolute;
	left: 50%;
	margin-left: -38px;
	top: 50%;
	margin-top: -8px;
	border-radius: 2px;
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.large .gear-inner .bar {
	margin-left: -68px;
	width: 136px;
}

.gear-inner .bar:nth-child(2) {
	transform: rotate(60deg);
}

.gear-inner .bar:nth-child(3) {
	transform: rotate(120deg);
}

.gear-inner .bar:nth-child(4) {
	transform: rotate(90deg);
}

.gear-inner .bar:nth-child(5) {
	transform: rotate(30deg);
}

.gear-inner .bar:nth-child(6) {
	transform: rotate(150deg);
}

/*------------------- PRELOADER SECTION COMPLETED --------------------*/

section.main {
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
}

section.main .jumbotron {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 1rem;
}

/*---------------------------- MAIN-PAGE CAROUSEL CSS START -----------------------------*/

.wrapper {
	height: 95vh;
	width: 100%;
	border-radius: 40px;
	position: relative;
}

.slide-wrapper {
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center center;
	position: absolute;
	background-blend-mode: darken;
	opacity: 0;
	transition: opacity 1s;
	will-change: opacity, transform;
	border-radius: 40px;
	overflow: hidden;
}

.slide-inner {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 2;
}

.slide-bg-text {
	position: absolute;
	top: 15%;
	left: 5%;
	transform: translateY(-10%);
}

.slide-bg-text p {
	color: #ffffff50;
	font-size: 16rem;
	line-height: 15rem;
	opacity: 1;
	font-weight: 700;
	margin-bottom: 0;
}

.slide-bg-text>p:last-child {
	padding-left: 10rem;
}

.slide-content {
	position: absolute;
	top: 50%;
	left: 10%;
	transform: translateY(-50%);
	color: #fff;
}

.slide-content-text {
	height: auto;
	width: 100%;
}

.slide-content-text p {
	font-size: 8rem;
	letter-spacing: 0.2rem;
	line-height: 6rem;
	font-weight: 700;
	margin-bottom: 0;
}

.slide-content-text .glow-line {
	height: 3px;
	width: 60%;
	background: linear-gradient(to left, transparent, #fff, transparent);
	margin: 1rem 0;
}

.slide-content-text>p:last-child {
	padding-left: 5rem;
	font-size: 3rem;
	line-height: 3rem;
}

.slide-rect {
	position: absolute;
	top: 50%;
	left: 20%;
	transform: translateY(-50%);
	height: 400px;
	width: 300px;
	border: 2rem solid #fff;
	box-shadow: 2px 2px 90px 30px rgba(41, 50, 61, 0.22);
}

.slide-rect img {
	height: 100%;
	width: 100%;
}

.slide-side-text {
	position: absolute;
	top: -30%;
	left: -5%;
	height: 260px;
	color: #fff;
	letter-spacing: 0.15rem;
	font-size: 1.1rem;
	line-height: 1rem;
	writing-mode: vertical-rl;
}

.slide-side-text:after {
	content: '';
	position: absolute;
	bottom: -25%;
	left: 50%;
	transform: translateX(-25%);
	height: 60px;
	width: 1px;
	background-color: #fff;
}

.controls-container {
	position: absolute;
	bottom: 0;
	right: 0;
	height: auto;
	width: 100%;
	align-items: flex-end;
	justify-content: flex-end;
	flex-wrap: wrap;
	z-index: 10;
}

.controls-button {
	background: #00000025;
	border: 0;
	outline: 0;
	height: auto;
	width: 15%;
	padding: 1rem 0;
	color: #fff;
	letter-spacing: 0.15rem;
	font-size: 0.9rem;
	line-height: 1rem;
	text-align: center;
	backdrop-filter: blur(5px);
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.controls-button:not(.active):hover {
	color: #000;
	background: #fff;
}

.controls-button.active {
	font-weight: 600;
	background: #37294d;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	cursor: default;
	position: relative;
}

@keyframes slideLeft {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-100%);
	}
}

@keyframes slideRight {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes cutTextUp {
	from {
		clip-path: inset(0 0 -10% 0);
	}

	to {
		clip-path: inset(0 0 100% 0);
	}
}

@keyframes cutTextDown {
	from {
		clip-path: inset(100% 0 0 0);
	}

	to {
		clip-path: inset(-10% 0 -20% 0);
		opacity: 1;
	}
}

@keyframes cutTextDownFromTop {
	from {
		clip-path: inset(0 0 100% 0);
	}

	to {
		clip-path: inset(0 0 -30% 0);
		opacity: 1;
	}
}

@keyframes rectMovement {
	0% {
		transform: translateX(0) rotate(0) translateY(-50%);
	}

	60% {
		opacity: 1;
	}

	100% {
		transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-50%);
		opacity: 0;
	}
}

@keyframes rectMovementFromRight {
	0% {
		transform: translateX(calc(48vh)) rotate(12deg) translateY(-50%);
		opacity: 0;
	}

	60% {
		opacity: 1;
	}

	100% {
		transform: translateX(0) rotate(0) translateY(-50%);
		opacity: 1;
	}
}

@keyframes rectMovementRight {
	0% {
		transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-50%);
	}

	40% {
		opacity: 1;
	}

	100% {
		transform: translateX(0) rotate(0) translateY(-50%);
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.slide-wrapper:not(.active) {
	animation: slideLeft 0.9s cubic-bezier(0.18, 0.54, 0.52, 0.93);
	pointer-events: none;
}

.slide-wrapper:not(.active) .slide-bg-text>p,
.slide-wrapper:not(.active) .slide-content-text>p,
.slide-wrapper:not(.active) .slide-side-text {
	animation: cutTextUp 0.5s ease-out;
}

.slide-wrapper:not(.active) .slide-rect {
	animation: rectMovement 0.5s ease forwards;
}

.slide-wrapper.active {
	transition-delay: 0s;
	opacity: 1;
}

.slide-wrapper.active .slide-bg-text>p,
.slide-wrapper.active .slide-content-text>p {
	opacity: 0;
	animation: cutTextDown 0.5s ease forwards 0.8s;
}

.slide-wrapper.active .slide-rect {
	opacity: 0;
	animation: rectMovementFromRight 0.45s ease forwards 0.9s;
}

.is-previous .slide-wrapper:not(.active) {
	animation: none;
}

.is-previous .slide-wrapper:not(.active) .slide-rect {
	animation: none;
}

.is-previous .slide-wrapper.active {
	transform: translateX(-100%);
	animation: slideRight 0.8s cubic-bezier(0.18, 0.54, 0.52, 0.93) forwards 0.5s;
}

.is-previous .slide-wrapper.active .slide-rect {
	opacity: 0;
	animation: rectMovementRight 0.5s ease-out forwards 0.9s;
}

.first-load .slide-wrapper.active .slide-side-text,
.first-load .slide-wrapper.active .slide-content-cta,
.first-load .slide-wrapper.active .slide-rect,
.first-load .controls-container {
	opacity: 0;
	animation: fadeIn 0.3s ease-in forwards 0.3s;
}

.first-load .slide-wrapper.active .slide-bg-text>p,
.first-load .slide-wrapper.active .slide-content-text>p {
	animation: fadeIn 0.7s forwards 0.5s;
}

/*---------------------------- MAIN-PAGE CAROUSEL CSS COMPLETE -----------------------------*/


/*---------------------------- HOME-PAGE CSS START -----------------------------*/

.section {
	height: 100%;
	width: 100%;
}

.section#Home {
	height: 100%;
	width: 100%;
}

.background-video {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: translate(-50%, -50%);
	z-index: -1;
}

/*---------------------------- HOME-PAGE CSS COMPLETE -----------------------------*/

/*---------------------------- SERVICE-PAGE CSS START -----------------------------*/

.section#Service,
.section#Our_team {
	background: #281833;
}

.section#Service .slide-bg-text.small-bg-text,
.section#Our_team .slide-bg-text.small-bg-text {
	top: 6%;
}

.section#Service .slide-bg-text.small-bg-text p,
.section#Our_team .slide-bg-text.small-bg-text p {
	color: #ffffff60;
	font-size: 12rem;
	line-height: 9rem;
}

.section#Service .slide-bg-text.small-bg-text>p:last-child {
	padding-left: 19rem;
	font-size: 8rem;
}

.section#Service .slide-content,
.section#Our_team .slide-content {
    top: 30%;
    left: 7%;
}

.section .Service_img {
	width: 65%;
	position: relative;
}

.section .Service_img img {
	width: 100%;
	height: auto;
}

.dot {
	position: absolute;
	height: 20px;
	width: 15px;
	color: #fff;
	transition: all 0.3s ease-in-out;
	border-radius: 50%;
	cursor: pointer;
}

.dot:hover {
	box-shadow: 0 0 30px 3px #21c091;
}

.dot:hover i {
	font-size: 1.5rem;
}

.dot i {
	font-size: 1.2rem;
}

.dot.kolkata {
	top: 48%;
	left: 63%;
}

.dot.kolkata:hover {
	top: 47%;
}

.dot.Haldia {
	top: 50%;
	left: 63%;
}

.dot.Haldia:hover {
	top: 49%;
}

.dot.Raigarh {
	top: 52%;
	left: 55%;
}

.dot.Raigarh:hover {
	top: 51%;
	left: 55%;
}

.dot.Durgapur {
	top: 46%;
	right: 37%;
}

.dot.Durgapur:hover {
	top: 45%;
	right: 37%;
}

.dot.Kharagpur {
	top: 49%;
	right: 38%;
}

.dot.Kharagpur:hover {
	top: 48%;
	right: 38%;
}

.dot.Vadodara {
	top: 50%;
	left: 26%;
}

.dot.Vadodara:hover {
	top: 49%;
	left: 26%;
}

.dot.kolkata:hover~.show-kolkata {
	visibility: visible;
}

.dot.Raigarh:hover~.show-Raigarh {
	visibility: visible;
}

.dot.Haldia:hover~.show-Haldia {
	visibility: visible;
}

.dot.Durgapur:hover~.show-Durgapur {
	visibility: visible;
}

.dot.Kharagpur:hover~.show-Kharagpur {
	visibility: visible;
}

.dot.Vadodara:hover~.show-Vadodara {
	visibility: visible;
}

.show {
	color: #000;
	background: #fff;
	width: 100px;
	height: auto;
	font-size: 0.9rem;
	text-align: center;
	border: 1px solid #6b5c9a;
	position: absolute;
	border-radius: 20px;
	padding: 3px 0;
}

.show-kolkata {
	visibility: hidden;
	top: 47%;
	left: 66%;
}

.show-Haldia {
	visibility: hidden;
	top: 54%;
	left: 60%;
}

.show-Raigarh {
	visibility: hidden;
	top: 50%;
	left: 42%;
}

.show-Durgapur {
	visibility: hidden;
	top: 45%;
	right: 40%;
}

.show-Kharagpur {
	visibility: hidden;
	top: 48%;
	right: 41%;
}

.show-Vadodara {
	visibility: hidden;
	top: 48%;
	left: 29%;
}

.section .Service_text {
    width: 30%;
	background-image: url("../../images/pngmap.png") ;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
    backdrop-filter: blur(10px);
    border: 5px solid #53c8ff7c;
	border-right-width: 0;
	margin-top: 4rem;
	position: relative;
	z-index: 1;
}

.section .Service_text .box {
	width: 100%;
	height: 450px;
    overflow-y: scroll;
}

.section .Service_text .box .box-card {
	height: auto;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: row-reverse;
	padding: 0.2rem 0;
	border-bottom: 1px solid #53c8ff59;
	cursor: pointer;
	position: relative;
	z-index: 1;
}

.section .Service_text .box .box-card:nth-child(odd) {
	background: #00000050;
}

.section .Service_text .box .box-card:nth-child(even) {
	background: #2d205473;
}

.box-card::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0;
	width: 100%;
	background: #0dbaff9d;
	transform-origin: bottom;
	transition: height 0.3s ease-in-out;
	z-index: -1;
}

.box-card .office {
	height: auto;
	width: 50%;
}

.office .office-type {
	padding: 0 0 0 1rem;
	text-align: left;
	height: auto;
	width: 100%;
}

.office-type h6 {
	color: #fff;
	font-size: 1rem;
	line-height: 1.2rem;
	font-weight: 300;
	margin-bottom: 0.3rem;
}

.office-type p {
	color: #00f020ca;
	font-size: 0.9rem;
	line-height: 1rem;
	font-weight: 300;
	margin-bottom: 0.1rem;
}

.box-card .details {
	height: auto;
	width: 50%;
	text-align: center;
}

.details .details-img {
	height: 80px;
	width: 80px;
	border: 1px dashed #53c8ff;
	border-radius: 50%;
	padding: 0.2rem;
	margin: 0 auto 0.5rem;
}

.details-img img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

.details p.name {
	color: #9fbdf6;
	font-size: 0.8rem;
	line-height: 1rem;
	font-weight: 300;
	margin-bottom: 0.1rem;
}

.box-card.highlighted::after {
	transform-origin: top;
	height: 100%;
}

.box-card.highlighted .details p.name {
	color: #fff;
}

.greyscale {
	filter: grayscale(100%);
}

.highlighted {
	filter: none;
}

.Service_text .service-text-decor {
    position: fixed;
    top: 25%;
    right: 0;
    height: auto;
    width: 450px;
    filter: grayscale(50%);
    opacity: 0.25;
    z-index: -1;
	pointer-events: none;
}

.Service_text .service-text-decor img {
	height: auto;
	width: 100%;
}

/*---------------------------- SERVICE-PAGE CSS COMPLETE -----------------------------*/

/*---------------------------- OUR TEAM-PAGE CSS START -----------------------------*/

.section#Our_team .slide-bg-text.small-bg-text>p:last-child {
    padding-left: 13rem;
}

.section#Our_team .slide-bg-text.small-bg-text>p:last-child {
    padding-left: 13rem;
}

.section#Our_team .slide-content-text p {
	padding-left: 3rem;
    font-size: 2rem;
	line-height: 2.5rem;
	font-weight: 500;
}

.section#Our_team .slide-side-text {
    top: -30%;
    left: 0;
}

.section .team-box {
  width: 80%;
  height: auto;
  margin: 18rem auto;
  position: relative;
}

.section .team-box .team-img {
  width: 100px;
  cursor: pointer;
  overflow: visible; 
  position: relative;
}

.section .team-box .team-img::after {
  content: '';
  width: 100%;
  height: 100%;
  background: #28183382;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.3s, transform 0.3s ease-in-out;
}

.section .team-box .team-img-appear {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transform: scale(0);
	transition: all 0.4s ease-in-out;
	z-index: 10;
}

.team-box .team-img-appear .team-img-appear-under {
	height: 100%;
	width: 100%;
	position: relative;
	z-index: -1;
}

.team-box .team-img-appear .team-img-appear-under::after {
	content: 'Johnson Filip';
    position: absolute;
    bottom: 25%;
    left: 5%;
    height: auto;
    width: 60%;
    background: #0093ff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    font-size: 0.4rem;
    line-height: 0.5rem;
    text-transform: capitalize;
    font-weight: 500;
    color: #fff;
    padding: 0.1rem 0.2rem;
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
    z-index: 1;
}

.team-box .team-img-appear .team-img-appear-under::before {
	content: 'Department';
    position: absolute;
    bottom: 8%;
    left: 5%;
    height: auto;
    width: 90%;
    background: #ff00c8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    font-size: 0.4rem;
    line-height: 0.5rem;
    text-transform: capitalize;
    font-weight: 500;
    color: #fff;
    padding: 0.1rem 0.2rem;
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
    z-index: 1;
}

.team-box .team-img-appear .team-img-appear-under img {
	height: auto;
	width: 100%;
	border: 2px solid #fff;
}

.section .team-box .team-img img {
  object-fit: cover;
  aspect-ratio: 3 / 2;
  transition: transform 0.3s ease-in-out;
  border: 1px solid #fff;
}

.section .team-box .team-img.hovered::after {
  opacity: 0;
  transform: scale(1);
}

.section .team-box .team-img.hovered .team-img-appear {
	transform: scale(3);
  }

/*---------------------------- OUR TEAM-PAGE CSS START -----------------------------*/

/*---------------------------- CUSTOM-SCROLLBAR CSS START -----------------------------*/

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: #2b3d50;
}

::-webkit-scrollbar-thumb {
	background: #53c8ff9a;
}

/*---------------------------- CUSTOM-SCROLLBAR CSS COMPLETE -----------------------------*/